
#top {
    position: relative;
    background-color: #ffffff;
    color: black;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    float: bottom;
    background-color: #ff9933;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #FFC700;
    padding: 5px;
    width: 210px;
    height: 25%;
    padding: 10px;
}

#right {
    float: right;
    background-color: #ffffff;
    padding: 5px;
    width: 50%;
}

.center_content {
    position: relative;
    background-color: #FFC700;
    padding: 5px;
}

.left_content {
    background-color: #FFC700;
    padding: 5px;
    margin-left:200px;
}

.right_content {
    background-color: #FFC700;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: #a75703; /*color de texto en menu*/
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

/*El menu no mostraba todos los submenus de una vez, se agrando el espacio del contenido */
.ui-slidemenu-content{
    height: 300px !important;
}

.ui-menubar-content{
    color: black;
}

/*Al momento de agrandar el espacio del contenido el boton atras no se adaptaba*/
.ui-slidemenu-backward {
    position: absolute;
    margin-top: 270px;
}
